*{
    margin: 0px;
    padding: 0px;
}
.text{
  border: solid 1px;
    height: 150px;
    display: flex;
}
#box1,#box2{
    border: solid 1px;
    height: 150px;
    width: 500px;
    background-color: bisque;
}
#box2{
    width: 3000px;
    text-align: center;
}
#clgname{
    font-size: 55px;
    color: rgb(235, 12, 12);
}
.text1{
    font-size: 30px;
    color: rgb(17, 20, 179);
}
.text2{
    color: rgb(11, 55, 177);
}
.text3{
    color: goldenrod(229, 255, 0);
}
#scrolltext{
    font-size: 30px;
    font-weight: bold;
    color: red;
    background-color: rgb(150, 138, 138);
}
#text{
    border: solid 1px;
    height: 50px;
}
ul li{
    border: solid 1px;
    height: 50px;
    width: 300px;
    float: left;
    text-align: center;
    line-height: 49px;
    color: black;
    background-color: red;
    border-radius: 30px;
    border: 30px;
    margin-right: 3px;
    margin-bottom: 5px;
}
ul{
    list-style: none;
}
ul li a{
    color: aqua;
    text-decoration: none;
    font-size: 30px;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
display: block;
}
ul li:hover{
    background-color: goldenrod;
}
.outbox{
    border: 1px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}
#in1,#in2,#in3{
    border: solid 1px;
    height: 360px;
    z-index: -1;
}
#in1{
    width: 600px;
    background-image: url(bits1.png);
    background-repeat: no-repeat;
    background-size: 600px 360px;
    animation-name: imgchange;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes imgchange{
    10%{
        background-image: url(bits2.png);
    }
    20%{
        background-image: url(bits3.png);
    }
    30%{
        background-image: url(bits4.png);
    }
    40%{
        background-image: url(bits5.png);
    }
    50%{
        background-image: url(bits6.png);
    }
}
#in2,#in3{
    width: 280px;
    text-align: center;
}